<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="SkiaScene" version="1.0.0" targetFramework="net461" />
  <package id="SkiaScene.TouchManipulation" version="2.0.1" targetFramework="net461" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="net461" />
  <package id="SkiaSharp.Views.Forms" version="1.60.3" targetFramework="net461" />
  <package id="TouchTracking" version="1.0.0" targetFramework="net461" />
  <package id="TouchTracking.Forms" version="1.0.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.3.0.967583" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.3.0.967583" targetFramework="net461" />
</packages>